body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: white;
    text-align: center;
}

/* Cabeçalho */
header {
    background-color: #b62b45;
    color: white;
    padding: 20px;
    font-size: 28px;
}

/* Mensagem */
.mensagem {
    margin: 30px;
    font-size: 20px;
    color: #333;
}

/* Área do vídeo */
.video {
    margin: 30px auto;
    width: 80%;
    max-width: 600px;
    height: 340px;
    background-color: #ddd;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    font-size: 18px;
}

/* Rodapé */
footer {
    margin-top: 40px;
    padding: 15px;
    background-color: white;
    
}